<h1>Socketios#index</h1>
<p>Find me in app/views/socketios/index.html.erb</p>
<style>
  .bar {
    background-color: pink;
    border: 1px solid black;
    height: 10px;
    margin-bottom: 4px;
  }
</style>
<div class="10div"></div>
<div class="chart">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>
